.is-active {
  font-weight: bold;
}

.dashboard{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.profile-picture {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.instagram-container {
  display: flex;
}

.insta-embed {
  max-width: 20%;
  padding: 3em;
}

.new {
  font-size: 3em;
}

.insta-embed:hover {
  transform: scale(1.1); 
}